body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 235, 246)333;
    color: rgb(50, 214, 47);
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(34, 149, 36);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #d48c34;
  }
  
  main {
    gap: 40px;
    padding: 20px;
  }
  
  .books {
    display: flex;
  }
  
  .card {
    min-width: 300px;
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .label_h1 {
    font-size: 20px;
  }
  
  .pay {
    display: flex;
  }
  
  .card__book {
    text-decoration: none;
    color: black;
  }
  .card__book:hover {
    color: #ffcc00;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card figcaption {
    padding: 15px;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    max-width: 400px;
    margin: auto;
  }
  
  form label {
    margin-bottom: 5px;
    color: #333;
  }
  
  form input,
  form select {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  form button {
    align-self: flex-end;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form button:hover {
    background-color: #2fff00;
  }
  
  .book li a {
    color: black;
  }
  
  .book li a:hover {
    color: #26ff00;}